<div class="row">
    <div class="col-3 mx-auto">
        <h2>Quiz Application</h2>
        <hr />
    </div>
</div>

<div *ngFor="let question of questions; let i = index; let l = last">
    <div class="badge badge-info">Question {{i+1}} of {{questions.length}}</div>
    <div class="badge badge-info float-right">{{question.questionTypeName}}</div>
    <h3 class="font-weight-normal">{{i+1}}.
        <span>{{question.name}}</span>
    </h3>
    <div class="row text-left options">
        <div class="col-6" *ngFor="let option of question.options">
            <div class="option">
                <label class="font-weight-normal" [attr.for]="option.id">
                    <input type="checkbox" />{{option.name}}
                </label>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="text-center">
    <button class="btn btn-default">Prev</button>
    <button class="btn btn-primary">Next</button>
    <button class="btn btn-default">Skip</button>
</div>
<!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->