<div class="row">
    <div class="col-3 mx-auto">
        <h2>Quiz Application</h2>
        <hr />
    </div>
</div>

<ng-container *ngIf="!showResultPage">
    <div *ngFor="let question of questions; let i = index; let l = last">
        <ng-container *ngIf="i === selectedQuestionIndex">
            <div class="badge badge-info">Question {{i+1}} of {{questions.length}}</div>
            <div class="badge badge-info float-right">{{question.questionTypeName}}</div>
            <h3 class="font-weight-normal">{{i+1}}.
                <span>{{question.name}}</span>
            </h3>
            <div class="row text-left options">
                <ng-container *ngIf="question.questionType.id == 1">
                    <div class="col-6" *ngFor="let option of question.options">
                        <div class="option">
                            <label class="font-weight-normal" [attr.for]="option.id">
                                <input type="checkbox" (change)="checked(question.id, option.id)"
                                    [checked]="isChecked(option.id)" />{{option.name}}
                            </label>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="question.questionType.id == 2">
                    <div class="col-6" *ngFor="let option of question.options">  
                        <div class="option">
                            <label class="font-weight-normal" [attr.for]="option.id">
                                <input name="{{question.name}}" type="radio" (change)="radioChecked(question.id, option.id)"
                                    [checked]="isChecked(option.id)" />{{option.name}}
                            </label>
                        </div>                
                      </div> 
                </ng-container>
            </div>
            <div class="row">
                <button class="btn btn-success" [disabled]="isSubmitDisabled()" (click)="submitAnswer()">Submit</button>
            </div>
            <div class="text-center">
                <button class="btn btn-default" (click)="prevQuestion(i)">Prev</button>
                <button class="btn btn-primary" [disabled]="isNextDisabled()" (click)="nextQuestion(i)">Next</button>
                <button class="btn btn-default" (click)="nextQuestion(i)">Skip</button>
            </div>
            <div *ngIf="showFinalSubmitButton(i)" class="row">
                <button class="btn btn-success" (click)="submitAssessment()">Submit Assessment</button>
            </div>
        </ng-container>
    </div>
</ng-container>
<hr />


<!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->